################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JobsPortal.API/.vs/JobsPortal.API/v16/Server/sqlite3
/JobsPortal.API/obj
/JobsPortal.UnitOfWork/obj
/JobsPortal.UnitOfWork/.vs